.NavbarArea {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap: 40px;
    padding: 30px 140px;
    
   position:absolute;
   z-index: 2;

    .topbike{
        img{
            width: 150px;
            color: white;
        }
    }
    .MainNavbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        font-size: 24px;

.subMenu2{
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    z-index: 999;
    border: 1px solid white;
    background-color: rgb(159, 202, 188);
    width: 1550px;
    height: 600px;
   left: -600px;
   top: 25px;
    li{
        font-size: 18px;
      
    }
    h2{
        font-size: 22px;
    }
    
}
    }

    .MainNavbar li {
       
        list-style: none;
        position: relative;
    a{
        text-decoration: none;
        color: white;
    }
    }
   
    .NavbarIcons{
        display: flex;
        gap: 20px;
        font-size: 25px;
        color: white;
    }
}
.shop:hover .subMenu2{
    display: block;
    transition: .5s;
}
.subMenu2:hover{
    display: block;
    transition: .5s;
}
.SubMenuArea{
  z-index: 2;
    display: flex;
    .InSubMenuShop{
       
        ul{
            margin-top: 40px;
            li{
                margin: 20px;
            }
            h2{
                color: black;
                border-bottom: 1px solid orange;
                &:hover{
                    color: orange;
                }
            }
        }
    }
}

.subMenu3{
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: rgb(159, 202, 188);
    width: 600px;
    height: 400px;
left: -300px;
   top: 25px;
   ul{
    margin-top: 40px;
   }
    li{
        font-size: 18px;
      margin-top: 20px;
    }
    h2{
        font-size: 18px;
        border-bottom: 1px solid orange;
    }
    
}
.pages:hover .subMenu3{
    display: block;
    transition: .5s;
} 
@media screen and (max-width: 1124px) {
    .NavbarArea {
        background-color:rgb(104, 101, 101);
        display: flex;
    //    width: 80%;
        align-items: center;
       position: relative;
        padding: 30px 140px;
       
        
       
        .topbike{
            img{
                width: 150px;
                color: white;
            }
        }
        .MainNavbar {
            display: none;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            gap: 70px;
            font-size: 24px;
    
    .subMenu2{
        display: flex;
        justify-content: center;
        align-items:center ;
        display: none;
        
        border: 1px solid white;
        background-color: rgb(159, 202, 188);
        width: 1550px;
        height: 600px;
       left: -600px;
       top: 25px;
        li{
            font-size: 18px;
          
        }
        h2{
            font-size: 22px;
        }
        
    }
        }
    
        .MainNavbar li {
           
            list-style: none;
            position: relative;
        a{
            text-decoration: none;
        color: black;
        }
        }
       
        .NavbarIcons{
            display: flex;
            gap: 20px;
            font-size: 25px;
            color: black;
        }
    }
    .shop:hover .subMenu2{
        display: block;
        transition: .5s;
    }
    .subMenu2:hover{
        display: block;
        transition: .5s;
    }
    .SubMenuArea{
      
        display: flex;
        .InSubMenuShop{
           
            ul{
                margin-top: 40px;
                li{
                    margin: 20px;
                }
                h2{
                    color: black;
                    border-bottom: 1px solid orange;
                    &:hover{
                        color: orange;
                    }
                }
            }
        }
    }
    
    .subMenu3{
        display: flex;
        justify-content: center;
        align-items:center ;
        display: none;
        position: absolute;
        border: 1px solid white;
        background-color: rgb(159, 202, 188);
        width: 600px;
        height: 400px;
    left: -300px;
       top: 25px;
       ul{
        margin-top: 40px;
       }
        li{
            font-size: 18px;
          margin-top: 20px;
        }
        h2{
            font-size: 18px;
            border-bottom: 1px solid orange;
        }
        
    }
    .pages:hover .subMenu3{
        display: block;
        transition: .5s;
    } 
}